@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Smooch&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: 'Manrope', sans-serif;
	font-size: 18px;
	background-color: #000;
	color: #fff;
}

body {
	/*background-image: url(https://media4.giphy.com/media/fj78d720NaTW5dBtuL/giphy.gif?cid=ecf05e47ksxm2h15wzc8zqi6yoyww9naf0dkifwjerkexopp&rid=giphy.gif&ct=g);*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

body._lock {
	overflow: hidden;
}

ul {
	list-style: none;
}

@media (max-width:875px) {
	html {
		font-size: 0.8rem;
	}
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background-color: #3334;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #5555;
	border-radius: 5px;
	box-shadow: 0 0 2px #0004 inset;
}

.line {
	width: 95%;
	height: 2px;
	border-radius: 2px;
	background-color: #555;
	margin: auto;
}

/*------------------------------------------------------------------------------*/

.wrapper {
	margin: 0 auto;
	min-height: 100vh;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

@media (max-width:1200px) {
	.wrapper {
		margin: 0;
	}
}

/*------------------------------------------------------------------------------*/

.header {
	display: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 10;
	background-color: #333;
}

.header__container {
	display: flex;

	padding: 10px 30px;
	text-align: center;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	max-width: 1200px;
	margin: 0 auto;
	min-height: 90px;
}

/*------------------------------------------------------------------------------*/

.header__logo {
	border: 3px solid #222;
	border-radius: 50%;
	overflow: hidden;
	width: 80px;
	height: 80px;
	transition: all .5s;
	flex: 0 0 auto;
}

.header__logo:hover {
	border: 2px solid #bd64b266;
	box-shadow: 0px 0px 10px #7973C6;
	transform: scale(111%);
	transition: all .5s;
}

.header__logo img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

@media (max-width:555px) {
	.header__logo {
		width: 70px;
		height: 70px;
	}
}

@media (max-width:575px) {
	.header__logo {
		width: 60px;
		height: 60px;
	}
}

/*------------------------------------------------------------------------------*/

.header__title-search {
	display: flex;
	flex-direction: column;
	flex: 0 1 200px;
}

.header__title {
	display: inline-block;
	font-family: 'Smooch', cursive;
	font-size: 1.2em;
	letter-spacing: 1.1px;
	background: linear-gradient(90deg, #7773c6, #9d6cc0, #bd64b2);
	margin: 0 auto 2.5% auto;
	border-radius: 15px;
	padding: 5px 20px;
	transition: all .5s;
}

.header__title:hover {
	transition: all .5s;
	background: linear-gradient(45deg, #7773c6, #9d6cc0, #bd64b2);
}

.header__title a {
	color: #0009;
	text-decoration: none;
	transition: all .5s;
}

.header__title:hover a {
	color: #000f;
	text-shadow: 1px 1px 1.5px #fffa;
	transition: all .5s;
}

.header__search {
	margin: 0 auto;
}

.search {
	transition: all .5s;
	padding: 7px 20px;
	border-radius: 10px;
	background-color: #444;
	color: #ddd;
	font-size: 0.9rem;
}

.search:focus {
	transition: all .3s;
	transform: scale(104%);
}

.search::placeholder {
	color: #bbb;
	align-items: center;
}

@media (max-width:475px) {
	.header__title {
		padding: 2.5px 10px;
	}

	.header__search {
		display: none;
	}
}

/*------------------------------------------------------------------------------*/

.header__navigation a {
	color: #fff;
	text-decoration: none;
	transition: all .3s;
}

.header__navigation a:hover {
	color: #ccc;
	transition: all .3s;
}

.navigation__icon {
	display: none;
}

@media (min-width: 768px) {
	.header__navigation {
		flex: 0 1 400px;
	}

	.header__navigation {
		display: inline-block;
		justify-content: flex-end;
	}

	.navigation__body ul li {
		display: inline-block;
		padding: 0.05rem 3%;
		margin: 0 0 0 0.5%;
		border-radius: 20px;
		transition: all .3s;
	}

	.navigation__body ul li:hover {
		transition: all .3s;
		transform: scale(110%);
		padding: 0.05rem 0.7rem;
		margin: 0 0 0 0.2%;
		border-radius: 20px;
		text-shadow: 0px 0px 5px #aaa;
	}

	.navigation__list {
		display: flex;
		flex: 0 1 400px;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}
}

@media (max-width: 767px) {
	.navigation__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}

	.navigation__icon span,
	.navigation__icon::before,
	.navigation__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all .3s ease 0s;
		background-color: #fff;
	}

	.navigation__icon::before,
	.navigation__icon::after {
		content: "";
	}

	.navigation__icon::before {
		top: 0;
		background-color: #fff;
		height: 2px;
	}

	.navigation__icon::after {
		bottom: 0;
		background-color: #fff;
		height: 2px;
	}

	.navigation__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.navigation__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}

	.navigation__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}

	.navigation__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.navigation__body {
		position: fixed;
		top: 0;
		left: 0%;
		width: 100%;
		height: 100%;
		transform: translate(-100%, 0px);
		background-color: #000b;
		padding: 100px 30px 30px 30px;
		transition: left .3s ease 0s;
		overflow: auto;
	}

	.navigation__body._active {
		left: 100%;
	}

	.navigation__body::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 70px;
		z-index: 2;
	}

	.navigation__list li {
		flex-wrap: wrap;
		width: 100%;
		margin: 0 0 30px 0;
	}

	.navigation__list li:last-child {
		margin: 0;
	}

	.header__navigation a {
		font-size: 24px;
	}

	.navigation__list {
		flex: 0 1 50px;
	}
}

/*------------------------------------------------------------------------------*/

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	min-height: 90px;
	background-color: #333;
}

.footer__copyright {
	display: inline-block;
	padding: 5px;
}

.footer__backcall-list {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.footer__backcall {
	border-radius: 50%;
	overflow: hidden;
	margin: 0 10px;
	transition: all .5s ease;
}

.footer__backcall:hover {
	transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
	transform: scale(150%);
}

.footer__backcall img {
	object-fit: cover;
	max-width: 100%;
}

.footer__backcall,
.footer__backcall img {
	width: 24px;
	height: 24px;
}

.instagram:hover {
	box-shadow: 0px 0px 10px #DB306C;
}

.telegram:hover {
	box-shadow: 0px 0px 10px #27A7E7;
}

.discord:hover {
	box-shadow: 0px 0px 10px #5662F6;
}

.weblancer:hover {
	box-shadow: 0px 0px 10px #337AB7;
}

/*------------------------------------------------------------------------------*/

.main {
	flex: 1 0 auto;
	padding: 30px;
	background-color: #4446;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border-left: 2px solid #333;
	border-right: 2px solid #333;
}

@media (max-width:767px) {
	.main {
		padding: 15px;
	}
}

.main__recently {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	width: 100%;
	flex: 1 1 auto;
	flex-wrap: nowrap;
	background-color: #2228;
	border: 1px solid #333;
	box-shadow: 0px 0px 10px #0006 inset;
	border-radius: 10px;
	margin: 10px 0;
	padding: 15px;
}

.main__news {
	display: flex;
	flex-direction: column;
	overflow-x: auto;
	width: 100%;
	flex: 1 1 auto;
	flex-wrap: nowrap;
	background-color: #2228;
	border: 1px solid #333;
	box-shadow: 0px 0px 10px #0006 inset;
	border-radius: 10px;
	margin: 10px 0;
	padding: 15px;
}

/*------------------------------------------------------------------------------*/

.recently__block {
	display: flex;
	flex-direction: column;
	flex: 1 0 400px;
	overflow: hidden;
	margin: 10px;
	border: 1px solid #555;
	border-radius: 20px;
}

.recently__image {
	display: block;
	background-color: #444;
	max-height: 400px;
}

.recently__image img {
	object-fit: cover;
}

.recently__image,
.recently__image img {
	width: 100%;
	height: 100%;
}

.recently__info {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	background-color: #333;
}

.recently__heading {
	padding: 5px 10px;
	font-size: 1.5rem;
	font-weight: 700;
}

.recently__text {
	padding: 5px 10px 10px 10px;
	flex: 1 1 auto;
}

.main__recently::-webkit-scrollbar {
	height: 8px;
}

.main__recently::-webkit-scrollbar-track {
	background-color: #3330;
	border-radius: 30px;
}

.main__recently::-webkit-scrollbar-thumb {
	background-color: #5555;
	border-radius: 20px;
	box-shadow: 0 0 2px #0004 inset;
}

/*
.recently__shadow{
	position: absolute;
	background-color: #0000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	box-shadow: -5px 0px 10px #000 inset;
	z-index: 3;
}
*/
@media (max-width:767px) {
	.recently__block {
		flex: 1 0 300px;
	}

	.recently__block .line {
		display: none;
	}

	.recently__image {
		flex: 0 1 275px;
		margin: 0 auto;
	}

	.recently__image img {
		height: 100%;
		object-position: center;
	}
}

/*------------------------------------------------------------------------------*/

.news__block {
	display: flex;
	flex-direction: row;
	flex: 1 0 400px;
	overflow: hidden;
	margin: 10px;
	border: 1px solid #555;
	border-radius: 20px;
}

.news__image {
	display: block;
	background-color: #444;
	flex: 1 0 35%;
}

.news__image img {
	object-fit: cover;
	width: 100%;
}

.news__info {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding: 5px 10px;
	background-color: #333;
}

.news__info a {
	text-decoration: none;
	color: #ddd;
	transition: .5s all ease;
}

.news__info a:hover {
	color: #fff;
	transition: .5s all ease;
}

.news__heading {
	padding: 5px 10px;
	font-size: 1.5rem;
	font-weight: 700;
}

.news__text {
	padding: 5px 10px 10px 10px;
	flex: 1 1 auto;
}

@media (max-width:715px) {
	.news__block {
		flex-direction: column;
		flex: 1 1 auto;
	}

	.news__image {
		flex: 0 0 240px;
		margin: 0 auto;
	}

	.news__image img {
		height: 100%;
		object-position: center;
	}
}

/*------------------------------------------------------------------------------*/

.news__list {
	display: flex;
	flex-direction: column;
	overflow-x: auto;
	width: 100%;
	flex: 1 1 auto;
	flex-wrap: nowrap;
	background-color: #2228;
	border: 1px solid #333;
	box-shadow: 0px 0px 10px #0006 inset;
	border-radius: 10px;
	margin: 10px 0;
	padding: 15px;
}

/*редактирования есть в main__&*/

/*------------------------------------------------------------------------------*/

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	border: 1px solid #444;
	background-color: #3338;
	padding: 10px;
	border-radius: 15px;
}

.form__paragraph {
	flex: 1 1 auto;
	display: flex;
	margin: 10px 5px;
	justify-content: space-between;
}

.form__button {
	display: flex;
	flex-direction: row;
	justify-self: center;
	align-items: center;
}

.button__send {
	padding: 5px;
	border-radius: 10px;
	color: #ddd;
	background-color: #333;
	border: 1px solid #777;
}

.form__more {
	margin: 10px 0;
}

.paragraph__title {
	font-weight: 700;
}

.paragraph__value {
	padding: 0;
}

.paragraph__input {
	padding: 5px;
	color: #ddd;
	background-color: #333;
	border-radius: 10px;
	transition: .5s all ease;
	font-family: 'Manrope', sans-serif;
}

.paragraph__input:focus {
	transition: .5s all ease;
	border: 2px solid #444;
	transform: scale(105%);
}

.paragraph__select {
	padding: 5px;
	color: #ddd;
	background-color: #333;
	border-radius: 10px;
	transition: .5s all ease;
	font-family: 'Manrope', sans-serif;
}

.paragraph__option {
	border-radius: 10px;
}

.textarea__about {
	margin: 0 0 0 10px;
}

@media (max-width:500px) {
	.form__about {
		flex-direction: column;
	}

	.textarea__about {
		margin: 10px 0 0 0;
	}
}

/*------------------------------------------------------------------------------*/

.site {
	width: 100%;
	border: 1px solid #444;
	background-color: #3338;
	border-radius: 15px;
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
}

.site__preview {
	flex: 0 1 400px;
	border-radius: 15px 15px 0 0;
	width: 100%;
	background-color: #5558;
	overflow: hidden;
}

.preview__picture {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center 0;
}

.site__info {
	flex: 1 0 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
	background-color: #3338;
	overflow: hidden;
	border-radius: 0 0 15px 15px;
}

.site__link-and-date {
	display: flex;
	padding: 5px 10px;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}

.site__link {
	font-weight: 700;
}

.site__link a {
	text-decoration: none;
	color: #ddd;
	transition: .5s all ease;
}

.site__link a:hover {
	transition: .5s all ease;
	text-decoration: underline;
	color: #fff;
}

.site__date {
	color: #aaa;
	background-color: #3338;
	padding: 0 5px;
	border-radius: 5px;
}

.site__text {
	width: 100%;
	text-align: left;
	padding: 0 10px;
}